Package: com.jakej.huddismiss
Name: HUDDismiss
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: Immediately dismiss a HUD with a tap.
Maintainer: Jake Januzelli
Author: Jake Januzelli
Section: Tweaks
Version: 2.0
Installed-Size: 72
