Package: com.jakej.huddismiss
Name: HUDDismiss
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: Jake Januzelli
Author: Jake Januzelli
Section: Tweaks
Version: 0.0.1-1
Installed-Size: 72
