Package: com.jakej.huddismiss
Name: HUDDismiss
Depends: mobilesubstrate
Version: 2.0
Architecture: iphoneos-arm
Description: Immediately dismiss a HUD with a tap.
Maintainer: Jake Januzelli
Author: Jake Januzelli
Section: Tweaks
